@model ProductRegistrationViewModel
@{
    ViewData["Title"] = "Product Registration";
}

<div class="d-flex justify-content-center mt-5">
    <form enctype="multipart/form-data" method="post" asp-action="Add" class="col-10 col-lg-6" novalidate/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">

        <label asp-for="ArticleNumber" class="form-label">Article Number</label>
        <input asp-for="ArticleNumber" class="form-control" />
        <span asp-validation-for="ArticleNumber" class="small text-danger"></span>

    </div>



    <div class="mb-5">

        <label asp-for="Name" class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="small text-danger"></span>

    </div>



    <div class="mb-5">

        <label asp-for="Image" class="form-label">Product Image</label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="small text-danger"></span>

    </div>

    <div class="collection-grid pt-4">
        <button class="btn-outline-dark btn-secondary py-2">SUBMIT</button>
    </div>
</div>
